.change-password-section {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
  width: 600px;
  margin: 3rem auto auto 3.5rem;
  position: absolute;
  min-height: 90%;
  background-color: #fff;
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  padding-top: 2rem;
}

.change-password-section:hover {
  box-shadow: var(--hover-box-shadow);
}

.change-password-section > div {
  display: flex;
  flex-direction: column;
}

.change-password-section input {
  height: 3rem;
  width: 90%;
  margin: auto;
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  font-size: var(--primary-size);
  padding: 12px 20px;
  letter-spacing: 1px;
  font-weight: normal;
  color: #333;
}

.change-password-section input:hover {
  box-shadow: var(--hover-box-shadow);
}

.change-password-section label {
  font-size: var(--primary-size);
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
}

.change-password-section button {
  width: 40%;
  margin-left: 5%;
  margin-top: 1rem;
}
