.single-post-setion {
  padding: 4vh calc((100% - var(--width)) / 2) 6vh;
  display: flex;
  flex-direction: column;
}
.single-post-setion h1 {
  font-weight: 600;
  font-size: calc(var(--primary-size) + 12px);
  color: #333;
  text-transform: capitalize;
  width: 65%;
  margin: auto;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
}

.single-post-setion .post-details {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 1rem auto 2rem;
}

.single-post-setion .post-details h2 {
  font-size: var(--primary-size);
  font-weight: 600;
}

.single-post-setion .post-details h2.author a {
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
}

.single-post-setion .post-details h2.author a:hover {
  color: #000ff0;
}

.single-post-setion .post-details .post-date {
  font-size: calc(var(--primary-size) - 2px);
  color: #333;
  transform: translateY(1px);
}

.single-post-setion .post-image {
  /* width: 1200px; */
  height: 400px;
  align-self: center;
  width: 90%;
  margin: auto;
}

.single-post-setion .post-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.single-post-setion p.post-content {
  width: 80%;
  margin: 3rem auto 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: calc(var(--primary-size) + 2px);
}
